.pageBody {
    font-family: 'Dancing Script', cursive;
    width: 100%;
    color: #973155;
    overflow-x:hidden;
}

.header {
    display:flex;
    background-color:#973155;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.title {
    color: #f19a16;
    font-size:60px;
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    text-align: center;
    flex-basis: 100px;
    flex-grow: 2;
}

.logoPretha {
    flex-basis: 100px;
    flex-grow: 1;
    transition:0.3s;
    text-align: center;
    width: 200px;
    height: auto;
}

.logoPretha:hover {
    transform:scale(1.2);
}

.detail {
    display:flex;
    background-color: #e8d4b6;
    height:auto;
    width: 100%;
}

.blackFriday {
    width: 500px;
    height: auto;
}

.content {
    font-size: 20px;
    background-color: #e8d4b6;
    text-align: center;
    flex-basis: 100px;
    flex-grow: 2;
    width: 70%;
    margin: 50px;
}

.contentTitle {
    font-size: 40px;
}

.contentText {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.products {
    display:flex;
    align-items:flex-start;
    justify-content:space-around;
    width: 100%;
}

.form {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:flex-start;
    background-color: #f19a16;
    text-align: center;
    flex-basis: 100px;
    flex-grow: 1;
}

.formText {
    margin: 30px;
    font-size: 25px;
    font-weight: 500;
}

.products {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.photoProduct {
    transition: 0.3s;
    width: 170px;
    height:auto;
}

.photoProduct:hover {
    transform:scale(1.7);
}

.social {
    display:flex;
    align-items: center;
    justify-content:center;
}

.socialIcon {
    width: 40px;
    height: auto;
}

.email {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.inputBox {
    margin: 10px 30px 10px 30px;
    height: 30px;
    width: auto;
    border-color: #e8d4b6;
}

.emailButton {
    background-color: #003d45;
    color:#e8d4b6;
    border-radius: 1rem;
    height: 40px;
    margin: 10px 30px 10px 30px;
    font-size: medium;
    font-weight: 600;
}

.msg {
    color:#ff0000;
    margin: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media (max-width: 790px){
    .content {
        font-size:small;
    }

    .form {
        font-size:medium;
    }

    .products {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .photoProduct {
        width:120px;
        height: auto;
    }

    .logoPretha {
        width: 100px;
        height: auto;
    }

    .blackFriday {
        width:200px;
        height: auto;
    }
}