.landing_body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    display:flex;
    background-color:#973155;
    align-items: center;
    justify-content: space-around;
    width: 100%
}

.title {
    color: #f19a16;
    font-size: 40px;
    font-family:'Indie Flower', cursive;
    font-weight: 600;
    text-align: center;
    flex-basis: auto;
    flex-grow: 2;
}

.logoPretha {
    flex-basis: auto;
    flex-grow: 1;
}

.detail {
    display:flex;
    background-color: #e8d4b6;
    height:auto;
    width: auto;
}

.content {
    font-size: medium;
    background-color: #e8d4b6;
    text-align: center;
    flex-basis: 100px;
    flex-grow: 2;
}

.text-content {
    color:#973155
}

.gifts{
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.form {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:flex-start;
    padding: 10px;
    font-size: large;
    background-color: #f19a16;
    text-align: center;
    flex-basis: 100px;
    flex-grow: 1;
}

.products {
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
}

.photoProduct {
    transform:scale(.7);
}

.email {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.text-form {
    color:#973155
}

.emailBox {
    margin: 10px;
    height: 30px;
    border-color: #e8d4b6;
}

.emailButton {
    background-color: #003d45;
    color:#e8d4b6;
    border-radius: 1rem;
    height: 40px;
    margin: 10px;
    font-size: medium;
    font-weight: 600;
}